/* Typography-strt */
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: 'Libre Franklin', sans-serif;
    transition:all 1s;
}

h1,h2,h3,h4,h5,h6{
    font-size:1rem;
}

img{
    width:100%;
    height:auto;
}

ul{
    list-style-type:none;
}

a{
    text-decoration:none;
}

.clear{
    overflow:hidden;
}

.container-fluid{
    width:100%;
}

.container{
    width:1200px;
    margin:0 auto;
}

.flex{
    display:flex;
}



/* Typography-end */

/* header-navbar-part-start */
#header-nav{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1400' height='500' preserveAspectRatio='none' viewBox='0 0 1400 500'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1302%26quot%3b)' fill='none'%3e%3crect width='1400' height='500' x='0' y='0' fill='rgba(200%2c 123%2c 156%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c71 C 70%2c120.2 210%2c286.4 350%2c317 C 490%2c347.6 560%2c225.8 700%2c224 C 840%2c222.2 910%2c345.4 1050%2c308 C 1190%2c270.6 1330%2c91.2 1400%2c37L1400 500L0 500z' fill='rgba(208%2c 30%2c 136%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1302'%3e%3crect width='1400' height='500' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
}

/* .navbar{
    background-color:green;
} */
.navbar>ul>li{
    margin-right:5rem;
    padding:1rem;
}
.navbar>ul>li>a{
    
    color:rgb(83, 124, 7);
    transition:all 0.5s;
    font-size:1.2rem;
    font-weight: 700;
    
    
}
.navbar>ul>li>a:hover{
    background-color:orchid;
    padding:0.5rem 1rem;
    border-radius:0.5rem;
    color:aqua;
    border:1px solid ;
}
/* header-navbar-part-end */

/*  protfolio-part-start */
.protfolio{
    padding-bottom:1rem;
}

.protfolio-title{
    width:50%;
}
.protfolio-title>.title-one{
    font-size:5.5rem;
    margin-top:1.5rem;
    margin-bottom:5rem;
    color:orangered;
}
.protfolio-title>.title-two{
    font-size:1.5rem;
    color:blue;
}
.protfolio-title>p{
    margin-top:3rem;
    text-align:justify;
    margin-bottom:1rem;
}
.protfolio-title>a{
    background-color:black;
    padding:0.5rem 1.5rem;
    border:2px solid orange;
    border-radius:5px;
    color:orange;
    font-weight:700;
    display:inline-block;
}
.protfolio-img{
    width:50%;
    position:relative;
    
}
.protfolio-img>img{
    border-radius:100%;
    width:55%;
    position:absolute;
    right:0;
    top:0;
}
/*  protfolio-part-end */

/* project-part-start */
#project{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1400' height='500' preserveAspectRatio='none' viewBox='0 0 1400 500'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1344%26quot%3b)' fill='none'%3e%3crect width='1400' height='500' x='0' y='0' fill='rgba(208%2c 30%2c 136%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c363 C 93.4%2c300.6 280.2%2c55.8 467%2c51 C 653.8%2c46.2 747.4%2c324.8 934%2c339 C 1120.6%2c353.2 1306.8%2c165.4 1400%2c122L1400 500L0 500z' fill='rgba(188%2c 173%2c 182%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1344'%3e%3crect width='1400' height='500' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    margin-top:-3rem;
    
}
.project-content{
    padding-top:5rem;
}
.project-content>.project-title{
    font-size:3.5rem;
    margin-top:1.5rem;
    margin-bottom:2rem;
    padding:1rem;
    border-radius:5px;
    border-top-right-radius: 5rem;
    border-bottom-right-radius: 5rem;
    width:30%;
    background-color:rgba(208, 30, 136, 1);
    color:rgb(102, 22, 177)
}


.project-box>.project-sub-title{
    font-size:1.5rem;
    margin-top:1.5rem;
    margin-bottom:2rem;
    padding:1rem;
    border-radius:5px;
    border-top-right-radius: 5rem;
    border-bottom-right-radius: 5rem;
    width:30%;
    background-color:rgba(208, 30, 136, 1);
    color:rgb(190, 182, 219);
    text-align:center;
   
}
.project-box>.style-title-two{
    font-size:1.5rem;
    margin-top:1.5rem;
    margin-bottom:2rem;
    padding:1rem;
    border-radius:5px;
    border-top-left-radius: 5rem;
    border-bottom-left-radius: 5rem;
    width:60%;
    background-color:rgba(208, 30, 136, 1);
    color:rgb(190, 182, 219);
    text-align:center; 
}

.project-img{
    margin-left:3rem;
    width:60%;
  
   
}
.project-img>img{
  border:2px solid white;
  border-radius:1rem;
}
/* project-part-end */

/* Experience-part-start */
#experience{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1400' height='500' preserveAspectRatio='none' viewBox='0 0 1400 500'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1419%26quot%3b)' fill='none'%3e%3crect width='1400' height='500' x='0' y='0' fill='rgba(188%2c 173%2c 182%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c18 C 140%2c109.2 420%2c428 700%2c474 C 980%2c520 1260%2c293.2 1400%2c248L1400 500L0 500z' fill='rgba(208%2c 31%2c 137%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1419'%3e%3crect width='1400' height='500' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-repeat:no-repeat;
    margin-top:-6.2rem;
   
}
.experience-content{
   padding-top:15rem;
   
}
.experience-content>h1{
    font-size:3.5rem;
    padding:1rem;
    border-radius:5px;
    border-top-right-radius: 5rem;
    border-bottom-right-radius: 5rem;
    width:40%;
    background-color:rgba(208, 30, 136, 1);
    color:rgb(102, 22, 177)
}

.experience-box>h2{
    font-size:1.5rem;
    padding:1rem;
    border-radius:50px;
    border:2px solid rgba(235, 31, 208, 0.527);
    /* border-top-right-radius:5rem;
    border-bottom-right-radius: 5rem; */
    width:21%;
    background-color:rgba(208, 30, 136, 1);
    color:rgb(154, 177, 22);
    margin-bottom:1rem;
    
}
.experience-box>h3{
    color:rgb(11, 165, 165);
    margin-bottom:1rem;
}
.experience-box>p{
    text-align:justify;
    width:40%;
    color:rgb(236, 243, 221);
   
}
.experience-svg{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1400' height='500' preserveAspectRatio='none' viewBox='0 0 1400 500'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1449%26quot%3b)' fill='none'%3e%3crect width='1400' height='500' x='0' y='0' fill='rgba(208%2c 31%2c 137%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c134 C 93.4%2c206.4 280.2%2c486.4 467%2c496 C 653.8%2c505.6 747.4%2c228.2 934%2c182 C 1120.6%2c135.8 1306.8%2c248.4 1400%2c265L1400 500L0 500z' fill='rgba(208%2c 31%2c 137%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1449'%3e%3crect width='1400' height='500' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    height:20rem;
    margin-top:-12rem;
}
/* Experience-part-end */